In [6]:
import pandas as pd
df=pd.read_csv("movie_scores.csv")

In [7]:
df.drop(['age',"sex",'pre_movie_score',"post_movie_score"],axis=1,inplace=True)

In [8]:
df

  first_name last_name
0        Tom     Hanks
1        NaN       NaN
2       Hugh   Jackman
3      Oprah   Winfrey
4       Emma     Stone

In [44]:
df.drop(1,axis=0,inplace=True)

In [45]:
df

  first_name last_name
0        Tom     Hanks
2       Hugh   Jackman
3      Oprah   Winfrey
4       Emma     Stone

In [46]:
from random import randint

In [56]:
def test(n):
    i=0
    while i<n:
        print(df["first_name"].iloc[randint(0,3)],df["last_name"].iloc[randint(0,3)])
        i+=1

In [57]:
test(7)

Tom Hanks
Emma Stone
Tom Jackman
Hugh Stone
Hugh Winfrey
Hugh Hanks
Tom Hanks

In [58]:
pip install transliterate

Collecting transliterate
  Downloading transliterate-1.10.2-py2.py3-none-any.whl (45 kB)
Requirement already satisfied: six>=1.1.0 in c:\users\tharu\anaconda3\envs\new_environment\lib\site-packages (from transliterate) (1.16.0)
Installing collected packages: transliterate
Successfully installed transliterate-1.10.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
from transliterate import translit

hindi_text = "हिन्दी टेक्स्ट"
english_text = translit(hindi_text, 'hi', 'en')

print(english_text)

LanguagePackNotFound: Language pack for code hi is not found.

In [2]:
pip install transliterate[hi]

Requirement already satisfied: transliterate[hi] in c:\users\tharu\anaconda3\envs\new_environment\lib\site-packages (1.10.2)
Requirement already satisfied: six>=1.1.0 in c:\users\tharu\anaconda3\envs\new_environment\lib\site-packages (from transliterate[hi]) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: transliterate 1.10.2 does not provide the extra 'hi'

In [2]:
from transliterate import translit, get_available_language_codes

In [3]:
print(get_available_language_codes())

['bg', 'el', 'hy', 'ka', 'l1', 'mk', 'mn', 'ru', 'sr', 'uk']

In [4]:
from transliterate import detect_language

In [5]:
detect_language(u'Լօրեմ իպսում դօլօր սիտ ամետ')

'hy'

In [1]:
from googletrans import Translator

# Create a translator object
translator = Translator()

# Translate text from English to French
text = "Hello, how are you?"
translated_text = translator.translate(text, src='en', dest='fr')

# Print the translated text
print(translated_text.text)

Bonjour comment allez-vous?

In [2]:
pip install googletrans==4.0.0-rc1

Collecting googletrans==4.0.0-rc1
  Using cached googletrans-4.0.0rc1.tar.gz (20 kB)
Collecting httpx==0.13.3
  Using cached httpx-0.13.3-py3-none-any.whl (55 kB)
Collecting hstspreload
  Using cached hstspreload-2023.1.1-py3-none-any.whl (1.5 MB)
Requirement already satisfied: sniffio in c:\users\tharu\anaconda3\envs\new_environment\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.2.0)
Requirement already satisfied: certifi in c:\users\tharu\anaconda3\envs\new_environment\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.12.7)
Collecting idna==2.*
  Using cached idna-2.10-py2.py3-none-any.whl (58 kB)
Collecting httpcore==0.9.*
  Using cached httpcore-0.9.1-py3-none-any.whl (42 kB)
Collecting chardet==3.*
  Using cached chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Collecting rfc3986<2,>=1.3
  Using cached rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting h2==3.*
  Using cached h2-3.2.0-py2.py3-none-any.whl (65 kB)
Collecting h11<0.10,>=0.8
  Using cached h11-0.9.0-py2.py3-none-any.whl (53 kB)
Collecting hpack<4,>=3.0
  Using cached hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Using cached hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py): started
  Building wheel for googletrans (setup.py): finished with status 'done'
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17429 sha256=a906a2f87a92a1cff07de0d3c0fe0016bef5eb0e93aa40650d6558d934e7923a
  Stored in directory: c:\users\tharu\appdata\local\pip\cache\wheels\c0\59\9f\7372f0cf70160fe61b528532e1a7c8498c4becd6bcffb022de
Successfully built googletrans
Installing collected packages: hyperframe, hpack, h2, h11, rfc3986, idna, httpcore, hstspreload, chardet, httpx, googletrans
  Attempting uninstall: idna
    Found existing installation: idna 3.4
    Uninstalling idna-3.4:
      Successfully uninstalled idna-3.4
Successfully installed chardet-3.0.4 googletrans-4.0.0rc1 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2023.1.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 idna-2.10 rfc3986-1.5.0
Note: you may need to restart the kernel to use updated packages.

In [10]:
from googletrans import Translator
translator = Translator()
text="ありがとう"
translated_text = translator.translate(text, dest='en')
print(translated_text.text)

thank you